[Unit]
Description=Klipper auto CAN scanner
Wants=klipper.service
After=klipper.service

[Service]
Type=oneshot
WorkingDirectory=/home/pi/klipper-auto-can-scanner/
ExecStart=/home/pi/klipper-auto-can-scanner/.venv/bin/python /home/pi/klipper-auto-can-scanner/klipper-auto-can-scanner.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target